[submodule "osTicket"]
	path = osTicket
	url = https://github.com/ColtonSpitdowski/osTicket.git
[submodule "osTicket-plugins"]
	path = osTicket-plugins
	url = https://github.com/ColtonSpitdowski/osTicket-plugins.git
